{% extends 'global/layout.html' %}

{% load static %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card border-0">
                <div class="col-12 text-center mt-3">
                    <h4 class="card-title text-muted" style="font-family: 'Arial', sans-serif; font-size: 28px; color: #4E4E4E; font-weight: bold; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);">Creación de Prestación</h4>
                </div>

                {% if messages %}
                    {% for message in messages %}
                        <div style="position: fixed;top: 50px; right: 100px; width: 300px; z-index: 9999;" class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}

                <div id="alert-container" class="alert-container" style="position: fixed;top: 50px; right: 100px; width: 300px; z-index: 9999;"></div>

                <form id="formulario" method="post" action="{% url 'nuevaPrestacion' %}">
                    {% csrf_token %}
                    <div class="card-body mt-3" style="padding: 30px;">
                        <div class="form-group row mb-4">
                            <div class="col-sm-3">
                                <label for="codigofonasa" class="fw-bold">Código Fonasa</label>
                                <input type="text" class="form-control" id="codigofonasa" name="codigofonasa">
                            </div>
                            <div class="col-sm-3">
                                <label for="codigointerno" class="fw-bold">Código Interno</label>
                                <input type="text" class="form-control" id="codigointerno" name="codigointerno">
                            </div>
                            <div class="col-sm-3">
                                <label for="nombre_prestacion" class="fw-bold">Nombre Prestación</label>
                                <input class="form-control" type="text" name="nombre_prestacion" id="nombre_prestacion" required>
                            </div>
                            <div class="col-sm-3">
                                <label for="prestacion" class="fw-bold">Tipo de Prestación</label>
                                <select class="form-control" id="prestacion" name="tipo_prestacion" required>
                                    <option selected disabled>Seleccione tipo</option>
                                    {% for tipo in tipo_prestacion %}
                                    <option value="{{ tipo.cod_tipo_prestacion }}">{{ tipo.tipo_prestacion }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group row mb-4">
                            <div class="col-sm-12">
                                <div id="cod_fonasa" data-cod-fonasa="{{ cod_fonasa }}"></div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-dark" id="enviarNuevo">Crear</button>
                            <input type="hidden" id="datosJson" name="datosJson">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/crear_paquete/nueva_prestacion.js' %}"></script>

{% endblock %}
