{% extends 'global/layout.html' %}

{% load static %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<div class="container-fluid justify-content-center border-0">
    <form id="filtroForm" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <div class="card border-0">
                    <div class="col-12">
                        <h4 class="card-title text-center mt-3 text-muted" style="font-family: 'Arial', sans-serif; font-size: 28px; color: #4E4E4E; font-weight: bold; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1) color: #4E4E4E;">Agendar Hora Medica</h4>
                    </div>
                    <div id="messages-container" class="position-fixed top-0 end-0 p-3" style="z-index: 11;">
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger alert-dismissible fade show mb-3 border-0" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% else %}
                                <div class="alert alert-{{ message.tags|default:'info' }} alert-dismissible fade show mb-3 border-0" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="card-body card-hover border-0" style="padding: 20px; justify-content: center; align-items: center; margin-left:10%;">
                        <div class="form-group row">
                            <div class="row align-items-start">
                                <div class="col-md-4">
                                    <label for="busqueda" class="mr-2 fw-bold" style="color:white;">Filtro:</label>
                                    <select class="form-control" id="busqueda" name="busqueda" onchange="mostrarEntradas()">
                                        {% load custom_tags %}
                                        <option value="codigo1">Rut</option>
                                        {% if request.user|has_group:"Administradores" %}
                                            <option value="codigo2">Preventivo</option>
                                            <option value="codigo4">Urgencia</option>
                                            <option value="codigo8">Consultas</option>
                                            <option value="codigo7">Examen</option>
                                            <option value="codigo5">Hospitalario</option>
                                            <option value="codigo9">Utm</option>
                                        {% elif request.user|has_group:"Hospitalario" %}
                                            <option value="codigo5">Hospitalario</option>
                                        {% elif request.user|has_group:"Preventivo" %}
                                            <option value="codigo2">Preventivo</option>
                                        {% elif request.user|has_group:"Urgencia" %}
                                            <option value="codigo4">Urgencia</option>
                                        {% elif request.user|has_group:"Consultas" %}
                                            <option value="codigo8">Consultas</option>
                                        {% elif request.user|has_group:"Examenes" %}
                                            <option value="codigo7">Examen</option>
                                        {% elif request.user|has_group:"UTM" %}
                                            <option value="codigo9">Utm</option>
                                        {% endif %}
                                        <option value="codigo3">Empresa</option>
                                        <option value="codigo6">Fecha</option>
                                    </select>
                                </div>

                                <div class="col-md-4" style="display: none;" id="busquedaRutDiv">
                                    <label for="busquedaRut" class="mr-2 fw-bold" style="color:white;"></label>
                                    <input type="text" class="form-control" id="busquedaRut" name="busquedaRut" placeholder="11111111-1">
                                    <div id="mensaje1" style="color: red;"></div>
                                </div>
                                <div class="col-md-4" style="display: none;">
                                    <label for="busquedaPreventivo" class="mr-2 fw-bold" style="color:white;"></label>
                                    <input type="text" class="form-control" id="busquedaPreventivo" name="busquedaPreventivo" placeholder="Preventivo">
                                    <div id="mensaje2" style="color: red"></div>
                                </div>
                                <div class="col-md-4" style="display: none;">
                                    <label for="busquedaEmpresa" class="mr-2 fw-bold" style="color:white;"></label>
                                    <input type="text" class="form-control" id="busquedaEmpresa" name="busquedaEmpresa" placeholder="Nombre empresa">
                                    <div id="mensaje3" style="color: red"></div>
                                </div>
                                <div class="col-md-3" style="display: none;" id="busquedafecha1">
                                    <label for="fechaInicio" class="fw-bold" style="color:white;">Inicio:</label>
                                    <input type="date" class="form-control" id="fechaInicio" name="fechaInicio">
                                </div>
                                <div class="col-md-3" style="display: none;" id="busquedafecha2">
                                    <label for="fechaFin" class="fw-bold" style="color:white;">Fin:</label>
                                    <input type="date" class="form-control" id="fechaFin" name="fechaFin">
                                </div>
                                <div class="col-md-4" style="display: none;">
                                    <label for="busquedaExamen" class="mr-2 fw-bold" style="color:white;"></label>
                                    <input type="text" class="form-control" id="busquedaExamen" name="busquedaExamen" placeholder="Laboratorio-Imagenologia">
                                </div>
                                <div class="col-md-4" style="display: none;">
                                    <label for="busquedaUtms" class="mr-2 fw-bold" style="color:white;"></label>
                                    <input type="text" class="form-control" id="busquedaUtms" name="busquedaUtms" placeholder="Utms">
                                </div>
                                <div class="col-md-2 mt-4" style="display: none;" id="botonurgencia">
                                    <button class="btn btn-dark" type="button" id="filtrourgencia">Filtrar</button>
                                </div>
                                <div class="col-md-2 mt-4" style="display: none;" id="botonhospitalario">
                                    <button class="btn btn-dark" type="button" id="filtrohospitalario">Filtrar</button>
                                </div>
                                <div class="col-md-2 mt-4" style="display: none;" id="botonConsulta">
                                    <button class="btn btn-dark" type="button" id="filtroConsulta">Filtrar</button>
                                </div>
                                <div class="col-md-2 mt-4" style="display: none;" id="botonbusqueda">
                                    <button class="btn btn-dark" type="button" id="filtro">Filtrar</button>
                                </div>
                                <div id="mensaje4" style="color: red"></div>
                                <div id="mensaje5" style="color: red"></div>
                                <div id="mensaje6" style="color: red"></div>
                                <div id="mensaje7" style="color: red"></div>
                                <div id="mensaje8" style="color: red"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="padding-top: 30px;">
                        <div class="form-group row justify-content-center">
                            <div class="row align-items-start" style="background-color:white;margin:0 auto;">
                                <div style="max-height: 300px; overflow-y: auto;">
                                    <table class="table table-striped table-bordered" style="margin-top:0.5%;">
                                        <thead>
                                            <tr>
                                                <th>Rut</th>
                                                <th>Nombre</th>
                                                <th>Teléfono</th>
                                                {% if request.user|has_group:"Preventivo" or request.user|has_group:"Administradores" %}
                                                <th>Paquete</th>
                                                {% endif %}
                                                <th>Empresa</th>
                                                <th>Mutualidad</th>
                                                <th>Solicitante</th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-body"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="pagination" class="d-flex justify-content-center mt-2 pagination-container" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-----Modal---->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="modal" method="POST" action="{% url 'agendar' %}">
                {% csrf_token %}
                <div class="modal-header" style="background-color: #003366;">
                    <h5 class="modal-title" id="exampleModalLabel" style="color:white;">Agendar hora</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="form-group row ">
                            <div class="row align-items-start">
                                <div class="col-sm-4">
                                    <label class="form-label fw-bold">Fecha</label>
                                    <input class="form-control" type="date" name="fecha" value="" required/>
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-label fw-bold">Hora</label>
                                    <input class="form-control" type="time" name="hora" value="" required/>
                                </div>
                                <div class="col-sm-6 mt-3">
                                    <label class="form-label fw-bold">Med. Tratante</label>
                                    <input class="form-control" type="text" name="medico" value="" required/>
                                </div>
                                <div class="col-sm-6 mt-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="envio" id="envio">
                                        <label class="form-check-label" for="envio">
                                            <strong>Enviar notificacion</strong>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-15 mt-3">
                                    <label class="form-label fw-bold">Comentario</label>
                                    <textarea class="form-control" type="text" name="comentario" value="" required></textarea>
                                </div>
                                <input type="hidden" name="id_solicitud" value="" id="inputIdSolicitud">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="background-color: #003366;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
                    <input type="hidden" value="" id="datos_modal" name="datos_modal">
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/agenda_hora/filtro.js' %}"></script>


{% endblock %}